.link-block {
  width: 20px;
  height: 20px;
}

.image-2 {
  width: 20px;
  height: 20px;
}

#w-node-_11fd756e-042c-bee5-d87e-2323becb94b9-becb94b9 {
  grid-column-start: span 1;
  grid-column-end: span 1;
  grid-row-start: span 1;
  grid-row-end: span 1;
}