.map-container {
  overflow: auto;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  margin: auto;

  border-style: none;
  border-width: 0px;
  border-color: hsla(207, 29.34%, 68.27%, 1.00);
  border-radius: 0px;

  object-fit: fill;
}