.img {
  width: 400px;
  height: 400px;
  max-width: none;
  margin-bottom: 15px;

  border-style: solid;
  border-width: 0.4px;
  border-color: hsla(0, 0.00%, 100.00%, 1.00);
  border-radius: 15px;

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);

  object-fit: cover;
}

#w-node-beba709e-1333-f9d7-9b2a-3c5e18670373-18670373 {
  grid-column-start: span 2;
  grid-column-end: span 2;
  grid-row-start: span 1;
  grid-row-end: span 1;
}